{{- $version := "" -}}
{{- range split .Path "/" -}}
  {{- if and (ne . "") (findRE `^\d{4}\.\d+$` .) -}}{{- $version = . -}}{{- end -}}
{{- end -}}
{{ $translators := partial "functions/get-translators.html" (dict "guide" .Section "version" $version "language" .Language.Lang) }}
{{ if $translators }}
  <div class="content-authors mt-3">
    <div class="row">
      <div class="col-12 col-md-2">
        <span class="text-muted me-2">{{ i18n "translators_label" . }}: </span>
      </div>
      <div class="col-12 col-md-10">
        <div class="d-flex flex-wrap">
          {{ range $translators }}
            {{ partial "components/guide/guide-author.html" (dict "author" . "lightList" false) }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
