<!doctype html>
<html lang="{{ .Site.Language.Locale | default "en" }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "{{- .Site.Params.GoogleTagManagerID }}");
    </script>
    <!-- End Google Tag Manager -->

    {{ $title := .Title | default .Site.Title }}
    {{ if .IsHome }}
      {{ $title = .Site.Params.seo_title | default .Site.Title }}
    {{ else }}
      {{ $topSection := .Site.GetPage (printf "/%s" .Section) }}
      {{ if eq $topSection.Type "guide" }}
        {{ if eq .Type "guide" }}
          {{- $version := partial "functions/get-guide-version.html" . -}}
          {{- if eq .Layout "root" -}}
            {{- $version = partial "functions/get-latest-version.html" . -}}
          {{- end -}}
          {{- $allVersions := partial "functions/get-all-versions.html" . -}}
          {{- $currentVersionObj := "" -}}
          {{- range $allVersions -}}
            {{- if eq .version $version -}}
              {{- $currentVersionObj = . -}}
              {{- break -}}
            {{- end -}}
          {{- end -}}
          {{- $guideVersionBit := "unknown" }}
          {{- if $currentVersionObj -}}
            {{- if $currentVersionObj.isLatest -}}
              {{- $guideVersionBit = printf "%s (latest)" ( $currentVersionObj.date | dateFormat "January 2006" ) -}}
            {{- else -}}
              {{- $guideVersionBit = printf "%s" ( $currentVersionObj.date | dateFormat "January 2006" ) -}}
            {{- end -}}
          {{- else -}}
            {{- /* Fallback for non-version pages - use page title */ -}}
            {{- $guideVersionBit = .Title -}}
            {{- if eq .Layout "root" -}}
              {{- $guideVersionBit = "latest" -}}
            {{- end -}}
          {{- end }}
          {{- if or $version (eq .Layout "root") }}
            {{ $title = printf "%s | %s | %s" $topSection.Title $guideVersionBit .Site.Title }}
          {{- else }}
            {{ $title = printf "%s | %s | %s" $guideVersionBit $topSection.Title .Site.Title }}
          {{- end }}
        {{ else }}
          {{ $title = printf "%s | %s | %s" (.Params.short_title | default .Title) $topSection.Title  .Site.Title }}
        {{ end }}
      {{ else }}
        {{ $title = printf "%s | %s" (.Params.short_title | default .Title) .Site.Title }}
      {{ end }}
    {{ end }}


    <title>{{ $title }}</title>
    <meta name="description" content="{{ ( .Description | default  .Site.Params.description) | plainify }}" />
    <meta name="keywords" content="{{ .Keywords | default .Site.Params.keywords }}" />
    {{- $canonicalUrl := partial "functions/get-canonical-url.html" . -}}
    <link rel="canonical" href="{{ .Site.Params.siteProdUrl }}{{ $canonicalUrl }}" />

    {{/* Guide version-specific SEO meta tags */}}
    {{ partial "components/seo/guide-version-meta.html" . }}
    {{ partial "components/seo/guide-version-links.html" . }}

    {{/* Open Graph / Facebook Meta Tags */}}
    {{ $socialImage := .Params.og_image | default .Site.Params.og_image | default .Site.Params.logo_image }}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ $title }}" />
    <meta property="og:description" content="{{ ( .Description | default  .Site.Params.description) | plainify }}" />
    {{ with $socialImage }}
      <meta property="og:image" content="{{ . | absURL }}" />
    {{ end }}
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:locale" content="{{ .Site.Language.Locale }}" />

    {{/* Twitter Card Meta Tags */}}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:title" content="{{ $title }}" />
    <meta name="twitter:description" content="{{ ( .Description | default .Site.Params.description) | plainify }}" />
    {{ with $socialImage }}
      <meta name="twitter:image" content="{{ . | absURL }}" />
    {{ end }}

    {{/* Additional Meta Tags */}}
    <meta name="giscus:backlink" content="{{ .Site.Params.siteProdUrl }}{{ .RelPermalink }}" />
    {{ with .Params.guide_license }}
      <meta name="license" content="{{ . | markdownify | plainify }}" />
    {{ end }}

    {{- if eq (.Site.Language.LanguageDirection | default "ltr") "rtl" }}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.rtl.min.css" rel="stylesheet" integrity="sha384-MdqCcafa5BLgxBDJ3d/4D292geNL64JyRtSGjEszRUQX9rhL1QkcnId+OT7Yw+D+" crossorigin="anonymous" />
    {{- else }}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous" />
    {{- end }}
    {{- $mainCss := resources.Get "css/style.css" -}}
    {{ if $mainCss -}}
      <link rel="stylesheet" href="{{ $mainCss.RelPermalink }}" />
    {{- end -}}
    {{- $langCode := .Site.Language.Locale | default "en" -}}
    {{- $langCssPath := printf "css/style.%s.css" $langCode -}}
    {{- $langCss := resources.Get $langCssPath -}}
    {{ if $langCss }}
      <link rel="stylesheet" href="{{ $langCss.RelPermalink }}" />
    {{- end }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3e6b2f4808.js" crossorigin="anonymous"></script>

    {{/* JSON-LD Structured Data */}}
    {{ partial "JSON-LD/main.html" . }}
    {{ partial "components/seo/guide-structured-data.html" . }}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
  </head>

  <body id="top" data-ndka-environment="{{ hugo.Environment }}" data-ndka-version="{{ .Site.Params.version | default "v0.0.0" }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2KD2BNT" height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ if ne hugo.Environment "production" }}
      <div class="container-fluid text-center p-2 bg-{{ hugo.Environment }}">
        {{ if .Page.Draft }}!!DRAFT!! |{{ end }}
        {{ if eq hugo.Environment "development" }}
          Local | v0.0.0 | No Robots
        {{ else }}
          {{ .Site.Params.AzureSitesConfig }} | {{ .Site.Params.GitVersion_SemVer }} | No Robots
        {{ end }}
        | <a href="#debugArea">Debug Info</a>
      </div>
    {{ end }}


    <header class="bg-dark text-white p-4">
      {{ block "menu" . }}
        <div class="container d-flex flex-wrap justify-content-between align-items-center py-3">
          {{ partial "components/main-menu.html" . }}
        </div>
      {{ end }}
      {{ if ne .Kind "home" }}
        {{ block "breadcrumbs" . }}
          <div class="container">
            {{ partial "components/breadcrumbs.html" . }}
          </div>
        {{ end }}
      {{ end }}
    </header>

    <main>
      {{ block "main" . }}
        <section class="container py-4">
          <p>Main content goes here.</p>
        </section>
      {{ end }}
    </main>

    {{ block "footer" . }}
      <footer class="footer bg-dark text-white p-4 mt-auto">
        <div class="container text-center">{{ .Site.Params.GitVersion_SemVer }} | Website design & theme © {{ now.Format "2006" }} <a href="https://hinshelwood.com" target="_blank">Martin Hinshelwood</a>. All rights reserved.</div>
      </footer>
    {{ end }}

    {{ if ne hugo.Environment "production" }}
      <div id="debugArea" class="container-fluid p-2 bg-secondary-subtle">
        <div class="container my-2">
          <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#debugSection" aria-expanded="false" aria-controls="debugSection">Show Debug Information</button>
          <div class="collapse" id="debugSection">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Node</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Params</td>
                  <td><pre>{{ debug.Dump .Params }}</pre></td>
                </tr>
                <tr>
                  <td>Template</td>
                  <td>{{ block "template" . }}unknown{{ end }}</td>
                </tr>
                <tr>
                  <td>Layout</td>
                  <td>{{ .Layout }}</td>
                </tr>
                <tr>
                  <td>Kind</td>
                  <td>{{ .Kind }}</td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td>{{ .Type }}</td>
                </tr>
                <tr>
                  <td>Section</td>
                  <td>{{ .Section }}</td>
                </tr>
                <tr>
                  <td>CurrentSection</td>
                  <td>{{ .CurrentSection }}</td>
                </tr>
                <tr>
                  <td>Child Sections</td>
                  <td>
                    {{ if .Sections }}
                      <ul>
                        {{ range .Sections }}
                          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                      </ul>
                    {{ else }}
                      <p>No child sections.</p>
                    {{ end }}
                  </td>
                </tr>
                <tr>
                  <td>Pages</td>
                  <td>
                    {{ $groups := .Pages.GroupBy "Type" }}
                    {{ range $groups }}
                      <strong>{{ .Key }}</strong>
                      <ul>
                        {{ range .Pages }}
                          <li>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                            [Type: {{ .Type }}{{ if .Layout }}, Layout: {{ .Layout }}{{ end }}]
                          </li>
                        {{ end }}
                      </ul>
                    {{ end }}
                  </td>
                </tr>
                <tr>
                  <td>Site Params</td>
                  <td><pre>{{ debug.Dump .Site.Params }}</pre></td>
                </tr>
                <tr>
                  <td>Site Config</td>
                  <td>
                    <ul>
                      {{ range hugo.Deps }}
                        <li>
                          <strong>{{ .Path }}</strong> - Version:
                          {{ .Version }}
                          {{ if .Replace }}
                            <br /><em>Replaced by: {{ .Replace.Path }} ({{ .Replace.Version }})</em>
                          {{ end }}
                        </li>
                      {{ end }}
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {{ end }}
    <script>
      // Initialize all tooltips
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });
    </script>
    {{- $submenuJs := resources.Get "js/submenu.js" -}}
    {{- if $submenuJs -}}
      <script src="{{ $submenuJs.RelPermalink }}"></script>
    {{- end -}}
    {{- $footnoteTooltipsJs := resources.Get "js/footnote-tooltips.js" -}}
    {{- if $footnoteTooltipsJs -}}
      <script src="{{ $footnoteTooltipsJs.RelPermalink }}"></script>
    {{- end -}}
    {{ if .Params.enableMermaid | default .Site.Params.enableMermaid | default false }}
      <script type="module">
        import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
        mermaid.initialize({ startOnLoad: true });
      </script>
    {{ end }}
  </body>
</html>
