{{/* Structured Data for Guide Versioning
  Purpose: Add JSON-LD structured data for guide versioning
  Input: A page context
  Output: JSON-LD script tag with version relationship data
*/}}

{{- if eq .Type "guide" -}}
  {{- $currentVersion := partial "functions/get-guide-version.html" . -}}
  {{- if $currentVersion -}}
    {{- $canonicalUrl := partial "functions/get-canonical-url.html" . -}}
    {{- $fullCanonicalUrl := printf "%s%s" .Site.Params.siteProdUrl $canonicalUrl -}}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "TechArticle",
      "headline": "{{ .Title }}",
      "description": "{{ .Description | default .Summary }}",
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
      "version": "{{ $currentVersion }}",
      "url": "{{ $fullCanonicalUrl }}",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ $fullCanonicalUrl }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "url": "{{ .Site.Params.siteProdUrl }}"
      },
      "inLanguage": "{{ .Site.Language.Locale }}",
      "about": {
        "@type": "Thing",
        "name": "{{ .Section | title }} Guide",
        "description": "Technical guide and documentation"
      }
    }
    </script>
  {{- end -}}
{{- end -}}
